#pu482.PamphletThumbSelected #u483-4 p,#pu480.PamphletThumbSelected #u481-4 p,#pu478.PamphletThumbSelected #u479-4 p,#pu484.PamphletThumbSelected #u485-4 p,#pu486.PamphletThumbSelected #u487-4 p,#u485-4
{
	font-family: open-sans-n7, sans-serif;
}

#u479-4
{
	font-family: open-sans-n7, sans-serif;
}

#u481-4
{
	font-family: open-sans-n7, sans-serif;
}

#u483-4
{
	font-family: open-sans-n7, sans-serif;
}

#u487-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1823-4
{
	font-family: open-sans-n3, sans-serif;
}

#u464-2,#u464-4,#u464-6,#u464-8,#u464-10,#u464-11,#u459-2,#u459-4,#u459-6,#u459-8,#u459-10,#u460-10,#u1824-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1813-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1812-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1814-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1825-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1815-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1818-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1820-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu1821_input,#widgetu1821_prompt,#widgetu1810_input,#widgetu1810_prompt,#widgetu1817_input,#widgetu1817_prompt
{
	font-family: ubuntu, sans-serif;
}

