#u1697-2,#u1697-4,#u1697-6,#u1697-8,#u1697-10,#u1697-11,#u1705-2,#u1705-4,#u1705-6,#u1705-8,#u1705-10,#u1703-10
{
	font-family: ubuntu-n3, sans-serif;
}

#pu1709.PamphletThumbSelected #u1710-4 p,#pu1711.PamphletThumbSelected #u1712-4 p,#pu1707.PamphletThumbSelected #u1708-4 p,#pu1713.PamphletThumbSelected #u1714-4 p,#pu1715.PamphletThumbSelected #u1716-4 p,#u1712-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1714-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1710-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1716-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1708-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1719-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1504-4,#u1505-6
{
	font-family: open-sans-n3, sans-serif;
}

