#u1663-2,#u1663-4,#u1663-6,#u1663-8,#u1663-10,#u1663-11,#u1671-2,#u1671-4,#u1671-6,#u1671-8,#u1671-10,#u1669-10
{
	font-family: ubuntu-n3, sans-serif;
}

#pu1679.PamphletThumbSelected #u1680-4 p,#pu1677.PamphletThumbSelected #u1678-4 p,#pu1675.PamphletThumbSelected #u1676-4 p,#pu1681.PamphletThumbSelected #u1682-4 p,#pu1673.PamphletThumbSelected #u1674-4 p,#u1678-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1680-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1676-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1682-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1674-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1685-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1564-4,#u1565-4,#u3423-6,#u3424-4
{
	font-family: open-sans-n3, sans-serif;
}

