#u1629-2,#u1629-4,#u1629-6,#u1629-8,#u1629-10,#u1629-11,#u1637-2,#u1637-4,#u1637-6,#u1637-8,#u1637-10,#u1635-10
{
	font-family: ubuntu-n3, sans-serif;
}

#pu1641.PamphletThumbSelected #u1642-4 p,#pu1643.PamphletThumbSelected #u1644-4 p,#pu1639.PamphletThumbSelected #u1640-4 p,#pu1645.PamphletThumbSelected #u1646-4 p,#pu1647.PamphletThumbSelected #u1648-4 p,#u1644-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1646-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1642-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1648-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1640-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1651-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1458-4,#u1459-4
{
	font-family: open-sans-n3, sans-serif;
}

