#u3554-2,#u3554-4,#u3554-6,#u3554-8,#u3554-10,#u3554-11,#u3549-2,#u3549-4,#u3549-6,#u3549-8,#u3549-10,#u3548-10
{
	font-family: ubuntu-n3, sans-serif;
}

#pu3537.PamphletThumbSelected #u3538-4 p,#pu3535.PamphletThumbSelected #u3536-4 p,#pu3529.PamphletThumbSelected #u3530-4 p,#pu3531.PamphletThumbSelected #u3532-4 p,#pu3533.PamphletThumbSelected #u3534-4 p,#u3536-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3532-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3538-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3534-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3530-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3557-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3514-4,#u3515-4
{
	font-family: open-sans-n3, sans-serif;
}

